<div class="ui form">
  <div *ngIf="terminology" style="padding: 50px">
    <h4 style="text-align: left">{{ terminology.title }}</h4>
    <div style="text-align: left">
      <div class="field">
        <label>Beschreibung:</label>
        <div class="field">
          <input [(ngModel)]="terminology.desc" placeholder="Description" />
          <div class="field">
            <label>Fachbegriff*:</label>
            <div class="field">
            <input [(ngModel)]="terminology.title" placeholder="Title" />
        </div>
      </div>
        <div class="field">
            <label>Name des Autors*:</label>           
            <div class="field">
            <input [(ngModel)]="terminology.creator" placeholder="Creator" />
            </div>
        </div>
        <div class="field">
            <label>Kapitel*:</label> 
            <div class="field">
            <input [(ngModel)]="terminology.chapter" placeholder="Chapter" />
            </div>
        </div>
      </div>
    </div>
  </div>
     </div>   
     
    </div>
     

