<div style="text-align:center">
    <h1 class="ui header" style="margin: 30px">
      Welcome to {{ title }}!
    </h1>
     <!-- logo -->
     <nav class="navbar">
     <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/img/funny.jpg">
        </a>
      </div>
    </nav>
</div>
    <div class="ui two item menu">
      <a class="item" routerLink="/terminology" routerLinkActive="active">
        Übersicht
      </a>
      <a class="item" routerLink="/terminology-add" routerLinkActive="active">
        Eintrag Hinzufügen
      </a>
    </div>
              
      <app-header></app-header>
     
      <app-dashboard></app-dashboard>
     
      <router-outlet></router-outlet>
  


