   
<header class="p-5 bg-dark text-white">
<h1 class="text-center">Welcome to {{ title }}!</h1>       
  <img src="assets/img/funny.jpg" style="width: 200px;"/>
</header>
   <nav class="nav justify-content-center bg-light">
        <li class="nav-item">
          <a class="nav-link"  href="#">Übersicht</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Eintrag Hinzufügen</a>
        </li>
   </nav>
       <app-header></app-header>
     
      <app-dashboard></app-dashboard>
     
      <router-outlet></router-outlet>
  


      