<form class="ui form">
    <div style="padding: 50px;">
        <h4 style="text-align:left"> Add new Lecture</h4>
        <div style="text-align:left;">
            <div class="field">
                <label>Eintrag hinzufüge/ändern*:</label>
                <div class="field">
                  <input #Fachbegriff placeholder="Fachbegriff" />
                </div>
            </div>
            <div class="field">
                <label>Beschreibung*:</label>           
                    <div class="field">
                        <input #Name des Autors="Name des Autors" />
                    </div>
                </div>
                    <div class="field">
                        <label>Kapitel*:</label> 
                        <div class="field">
                        <input #Kapitel="Kapitel" />
                    </div>
                </div>
         </div>   
         <button class="ui primary button" (click)="add( 
            terminologyFachbegriff.value, 
            termionologyBeschreibung.value, 
            terminologyAutor.value, 
            terminology.Kapitel.value )">Add
            
    </button>
    <p style="color:red" *ngIf="fieldsEmpty==true">Please check again, if you filled all input fields correctly!</p>
</div>
<button class="ui button" (click)="Abbrechen()">Abbrechen</button>
</form>