<div class="container mt-2">
  <h4>Eintrag hinzufügen/ändern</h4>
  <div class="mt-3">
    <div class="row form-group">
      <label class="col-3">Fachbegriff*:</label>
      <div class="col field">
        <input
          class="form-control"
          name="title"
          #terminologyTitle
          placeholder="Fachbegriff"
        />
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-3">Beschreibung*:</label>
      <div class="col field">
        <textarea
          class="form-control"
          name="desc"
          rows="5"
          #terminologyDesc
          placeholder="Beschreibung"
        ></textarea>
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-3">Name des Autors*:</label>
      <div class="col field">
        <input
          class="form-control"
          name="creator"
          #terminologyCreator
          placeholder="Name des Autors"
        />
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-3">Kapitel*:</label>
      <div class="col field">
        <select class="form-select" name="chapter" #terminologyChapter>
          <option *ngFor="let type of eChapter | keyvalue" [value]="type.value">
            {{ type.value }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <button
      type="button"
      class="me-3 col-md-2 btn btn-secondary"
      mdbBtn
      color="success"
      mdbWavesEffect
      (click)="
        save(
          terminologyTitle.value,
          terminologyDesc.value,
          terminologyChapter.value,
          terminologyCreator.value
        )
      "
    >
      Sichern
    </button>
    <button
      type="button"
      class="col-md-2 btn btn-secondary"
      mdbBtn
      color="success"
      mdbWavesEffect
      routerLink="/dashboard"
    >
      Abbrechen
    </button>
    <p class="text-danger mt-3" *ngIf="fieldsEmpty == true">
      <b>Fehler:</b> Bitte fülle alle Felder mit * aus.
    </p>
  </div>
</div>
